<table class="table">
  <thead>
    <tr>
      <th>GESTIÓN</th>
      <th>REAL</th>
      <th>META</th>
      <th>% CUMPLIMIENTO</th>
      <th>ÍNDICE IPAL</th>
      <th>ABIERTAS</th>
    </tr>
  </thead>
  <tbody>  
    {% for item in data %}
    <tr>
      
    </tr>      
    {% endfor %}
  </tbody> 
</table>