{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ path('welcome') }}">{{ 'Inicio' | trans }}</a></li>
  <li class="active">Metas de Observaciones</li>
</ol>
{% endblock %}

{% block body -%}

    <!-- FORM BEGIN -->
    {% include "BcTicCamIpalBundle:Meta:filter_meta.html.twig" with { form: filter } %}
    <!-- FORM END -->

    <br/>
    <div class="container" style="width: 90%; text-align: center;">
      <div id="dashboard">

      </div>
    </div>

{% endblock %}

{% block js %}
  {{ parent() }}
  <script type="text/javascript">


    $(function($){
          $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
          };
        $.datepicker.setDefaults($.datepicker.regional['es']);
      });

      $("div.datepicker input").datepicker();

    $('#bctic_camipalbundle_meta_rango_filter_button').bind('click', function () { 

      $.ajax({
        type: "POST",
        url: "{{ path('metas_observaciones_show_dashboard') }}",
        data: { 'fecha_desde': $('#bctic_camipalbundle_meta_rango_filter_fecha_desde').val(), 
                'fecha_hasta': $('#bctic_camipalbundle_meta_rango_filter_fecha_hasta').val()},
        success: function (dataSuccess) { 
          $('#dashboard').html(dataSuccess);
        },
      });
    });

  </script>

{% endblock %}
