{% extends 'BcTicCamIpalBundle::edit.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('usuarios') }}">Usuarios</a>
{% endblock %}

{% set title = 'Usuario ' ~ entity.username %}
{% set back_path = path('usuarios') %}