{% extends 'BcTicCamIpalBundle::edit.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('areas') }}">Áreas</a>
{% endblock %}

{% set title = 'Área ' ~ entity.nombre %}
{% set back_path = path('areas') %}