{% extends 'BcTicCamIpalBundle::new.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('areas') }}">Áreas</a>
{% endblock %}

{% set title = 'Nueva Área' %}
{% set back_path = path('areas') %}
