/APPZ/web/bundles/
/APPZ/app/bootstrap.php.cache
.DS_Store
/APPZ/app/cache/
/APPZ/app/cache/*
APPZ/app/config/parameters.yml
/APPZ/app/logs/*
/APPZ/app/logs/
/APPZ/app/cache/.gitkeep
/APPZ/app/logs/.gitkeep
/build/
/bin/
/APPZ/web/uploads/
/APPZ/composer.phar
