<!--1435325461-IMG_20150625_122106451_HDR.jpg -->

{% if filePath |length > 5 %}
    <a target="_blank" href="{{-filePath-}}">
      <img src="{{-filePath-}}" alt="{{ 'NO EXISTE ARCHIVO ' ~ fileNumber | trans }}"/>
    </a>
{% else %}
   <i>{{ 'NO EXISTE ARCHIVO ' ~ fileNumber | trans }}</i>
{% endif %}
