{% extends 'BcTicCamIpalBundle::edit.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('supervisores') }}">Supervisores</a>
{% endblock %}

{% set title = 'Supervisor ' ~ entity.nombre %}
{% set back_path = path('supervisores') %}
