{% extends 'BcTicCamIpalBundle::new.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('grupos') }}">Grupos</a>
{% endblock %}

{% set title = 'Nuevo grupo' %}
{% set back_path = path('grupos') %}
