{% extends 'BcTicCamIpalBundle::edit.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('servicios') }}">Servicios</a>
{% endblock %}

{% set title = 'Servicio ' ~ entity.nombre %}
{% set back_path = path('servicios') %}