{% extends 'BcTicCamIpalBundle::edit.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('registros') }}">Registros</a>
{% endblock %}

{% set title = 'Registro ' ~ entity.nombre %}
{% set back_path = path('registros') %}