{% extends 'BcTicCamIpalBundle::new.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('subgerencias') }}">SubGerencias</a>
{% endblock %}

{% set title = 'Nueva SubGerencia' %}
{% set back_path = path('subgerencias') %}
