
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-1 ' ~ 'Cinco Reglas de Oro' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-4 ' ~ 'Materiales, equipos y herramientas' | trans } %}  
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta11, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta41, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta12, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta42, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta13, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta43, alert: '' } %}      
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta14, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta44, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta15, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta45, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta16, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta46, alert: '' } %}       
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-2 ' ~ 'Autorización para ingreso a circuito' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-5 ' ~ 'Materiales, equipos y herramientas' | trans } %}  
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta21, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta51, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta22, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta52, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta23, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta53, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta24, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta54, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta25, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-6 ' ~ 'Máquinas, Equipamentos e Ferramentas' | trans } %}  
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta26, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta61, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-3 ' ~ 'Estrutura / Instalações' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta62, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta31, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta63, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta32, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta64, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta33, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta65, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta34, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-7 ' ~ 'Estrutura Geral' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta35, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta71, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta36, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta72, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta37, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta73, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta38, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta74, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta39, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-8 ' ~ 'Primeros Auxilios y Emergencias' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta310, alert: '' } %}
           {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta81, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta311, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta312, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta313, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta314, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
        </div>


