        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with { 'content': 'I-1 ' ~ 'Cinco Reglas de Oro' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-6 ' ~ 'Señalización y protección pública' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta11, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta61, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta12, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta62, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta13, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-7 ' ~ 'Identificación de Riesgos / charla de 5 minutos' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta14, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta71, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta15, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta72, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-2 ' ~ 'Procedimientos de trabajo' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta73, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta21, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-8 ' ~ 'Identificación y Competencia del personal' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta22, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta81, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta23, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta82, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta24, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta83, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta25, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-9 ' ~ 'Vehículo (Pesado, liviano y motocicletas)' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-3 ' ~ 'Elementos de Protección Personal' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta91, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta31, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta92, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta32, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta93, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta33, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta94, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta34, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-10 ' ~ 'Primeros auxilios y emergenciass' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta35, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta101, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta36, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-11 ' ~ 'Cultura ambiental' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta37, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta111, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta38, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta112, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta39, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta113, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta310, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta114, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta311, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta115, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta312, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta116, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta313, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta117, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-4 ' ~ 'Materiales, equipos y herramientas' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta118, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta41, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta119, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta42, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta1110, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta43, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-12 ' ~ 'Trabajos en lineas de gas' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta44, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta121, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta45, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta122, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-5 ' ~ 'Condiciones de trabajo' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta123, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta51, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-13 ' ~ 'Condiciones de trabajo en espacios confinados' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta52, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta131, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta53, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta132, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta54, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-14 ' ~ 'Condiciones de trabajo en calderas' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta141, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta142, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta143, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta144, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta145, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta146, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I 15 ' ~ 'Condiciones de trabajo en bombas de impulsión' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta151, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta152, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta153, alert: 'alert-warning' } %}
        </div>
