        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-1 ' ~ 'Cinco Reglas de Oro' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-5 ' ~ 'Materiales, equipos y herramientas' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta11, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta51, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta12, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta52, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta13, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta53, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta14, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-6 ' ~ 'Condiciones de trabajo' | trans } %}         
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta15, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta61, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-2 ' ~ 'Autorización para ingreso a corte cable dimensionado' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta62, alert: '' } %}       
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta21, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta63, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-3 ' ~ 'Procedimientos de trabajo' | trans } %} 
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta64, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta31, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta65, alert: 'alert-warning' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta32, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-7 ' ~ 'Señalización y protección pública' | trans } %} 
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta33, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta71, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta34, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta72, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-4 ' ~ 'Elementos de Protección Personal' | trans } %} 
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-8 ' ~ 'Identificación de Riesgos / charla de 5 minutos' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta41, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta81, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta42, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta82, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta43, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-9 ' ~ 'Identificación y Competencia del personal' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta44, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta91, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta45, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta92, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta46, alert: 'alert-warning' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta93, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta47, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-10 ' ~ 'Vehículo (Pesado, liviano y motocicletas)' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta48, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta101, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta49, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta102, alert: 'alert' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta410, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta103, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta411, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-11 ' ~ 'Primeros Auxilios y Emergencias' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''} %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta111, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''} %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-12 ' ~ 'Amonestación' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''} %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta121, alert: '' } %}
        </div>   
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''} %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-13 ' ~ 'Cultura ambiental' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''} %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta131, alert: 'alert' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta132, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta133, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta134, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta135, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta136, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta137, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta138, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta139, alert: 'alert' } %}
        </div>        
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': ''  } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta1310, alert: 'alert' } %}
        </div>             
