        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_format.html.twig' with {'content': '1' ~ ' Áreas de trabajo' | trans } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.0, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.1, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.2, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_format.html.twig' with {'content': '2 ' ~ 'Comportamiento durante el Trabajo' | trans } %}
        </div>        
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.3, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.4, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.5, alert: '' } %}
        </div>        
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.6, alert: '' } %}
        </div>        
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.7, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_format.html.twig' with {'content': '3 ' ~ 'Procedimientos' | trans } %}
        </div>         
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.8, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.9, alert: '' } %}
        </div>       
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.10, alert: '' } %}
        </div>     
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_format.html.twig' with {'content': '4 ' ~ 'Herramientas y Materiales' | trans } %}
        </div>     
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.11, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.12, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.13, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_format.html.twig' with {'content': '5 ' ~ 'Equipos de protección individual' | trans } %}
        </div>         
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.14, alert: '' } %}
        </div>
        <div class="row registro_de_observacion">
          {% include 'BcTicCamIpalBundle::edit_observacion_de_comportamiento_row_data_format.html.twig' with { 'registro_de_observacion': form.registrosDeObservacion.children.15, alert: '' } %}
        </div>        