        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with { 'content': 'I-1 ' ~ 'Cinco Reglas de Oro' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-4 ' ~ 'Elementos de Protección Personal' | trans } %} 
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta11, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta41, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta12, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta42, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta13, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta43, alert: '' } %}  
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-2 ' ~ 'Autorización para ingreso a circuito' | trans } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-5 ' ~ 'Materiales, equipos y herramientas' | trans } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta21, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta51, alert: '' } %} 
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta22, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta52, alert: '' } %}
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta23, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}   
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': 'I-3 ' ~ 'Procedimientos de trabajo' | trans } %} 
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}   
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta31, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}   
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta32, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}   
        </div>
        <div class="row">
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_data_format.html.twig' with { 'respuesta': form.respuesta33, alert: '' } %}
          {% include 'BcTicCamIpalBundle::edit_encuesta_row_format.html.twig' with {'content': '' | trans } %}   
        </div>