{% extends 'BcTicCamIpalBundle::edit.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('contratos') }}">Contratos</a>
{% endblock %}

{% set title = 'Contrato #' ~ entity.numero %}
{% set back_path = path('contratos') %}
