{% extends 'BcTicCamIpalBundle::edit.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('empleados') }}">Empleados</a>
{% endblock %}

{% set title = entity.nombre %}
{% set back_path = path('empleados') %}
