{% extends 'BcTicCamIpalBundle::new.html.twig' %}

{% block breadcrumb_list %}
<a href="{{ path('empleados') }}">{{ 'Empleados' | trans }}</a>
{% endblock %}

{% set title = 'Nuevo colaborador' %}
{% set back_path = path('empleados') %}
